body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }
  /* .container {
       margin: auto;
       padding: 10%;
    } */
  .title {
    margin: 3% 3% 0.5%;
  }
  span {
    font-size: 5em;
    font-weight: medium;
  }

  .message {
    margin: auto;
    width: 30em;
    text-align: center;
    padding: 4%;
    font-size: 0.8em;
    line-height: 2em;
  }
   hr {
    width: 10%;
    margin-bottom: 2%;
   }

   .secondhr {
     margin-top: 5%;
   }

  .pc, .mobile {
      font-weight: bold;
      padding: 1% 0;
  }

  li {
    list-style-type: none;
    padding: 2em;
    margin: 0;
    display: inline;
  }
  a {
    font-family: "Montserrat", sans-serif;
  }
  a:link {
    text-decoration: none;
    color: #c1514f;
  }

  a:visited {
    text-decoration: none;
    color: #c1514f;
  }

  .fas {
    position: relative;
    /* float: left; */
  }


  @media screen and (max-width:760px) {
      li {
         display: block;
         padding: 20px;
      }

      ul {
          text-align: center;
          padding-inline-start: 0px;
      }
    
      .pc, .mobile {
          text-align: center;
      }
  }
